  <div class="container clearfix" ng-controller="ConversationCtrl">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
      	<div id="conversations">
      		<%= render "list" %>
      	</div>
      	<div id="friend_list" ng-controller="FriendsCtrl">
          <%= render "friend" %>
      	</div>
      </ul>
    </div>
    
    <div class="chat">
      <div class="chat-header clearfix" ng-controller="ConversationCtrl">
        <%= render "chat_header"%>
      </div>
      <div class="chat-history">
        <%= render "chat_history"%>
      </div>
      
      <div class="chat-message clearfix" ng-controller="MessageController">
        <%= render "form"%>
      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>
